<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dynamic table</title>
    <link rel="stylesheet" href="./resource/bootstrap.css">
    <link rel="stylesheet" href="./resource/style.css">
    <script src="./resource/bootstrap.js"></script>
</head>

<body>

    <div id="dtable">
        <!-- <div>
            selected: {{ selected }}
        </div> -->
        <!-- <div>
            <label for="">rows</label>
            <input type="number" v-model="row">
        </div>
        <div>
            <label for="">col</label>
            <input type="number" v-model="col">
        </div> -->
        <div class="tools">
            <div class="item">
                <label for="">colspan</label>
                <input type="number" @change="col_span" @keyup="col_span" v-model="selected.colspan">
            </div>
            <div class="item">
                <label for="">rowspan</label>
                <input type="number" @change="row_span" @keyup="row_span" v-model="selected.rowspan">
            </div>
            <div class="item">
                <label for="">rotate</label>
                <input type="checkbox" class="form-check-input" v-model="selected.text_rotate">
            </div>
            <div class="item">
                <label for="">rotate deg</label>
                <input type="number" v-model="selected.rotate">
            </div>
            <div class="item">
                <label for="">background color</label>
                <input type="color" v-model="selected.background_color">
            </div>

            <div class="item">
                <label for="">top</label>
                <input type="number" v-model="selected.top">
            </div>
            <div class="item">
                <label for="">left</label>
                <input type="number" v-model="selected.left">
            </div>
            <div class="item">
                <label for="">font size</label>
                <input type="number" v-model="selected.font_size">
            </div>
            <div class="item">
                <label for="">width</label>
                <input type="number" v-model="selected.width">
            </div>
            <div class="item">
                <label for="">height</label>
                <input type="number" v-model="selected.height">
            </div>
            <div class="item">
                <button @click="add_row">add row</button>
                <button @click="add_cols">add col</button>
                <button @click="reset()">reset</button>
            </div>
        </div>

        <div class="sheet_table  table-responsive">
            <table>
                <tr>
                    <td>
                        <div>
                            {{(selected.row_no +1 || 0)}}:
                            {{(selected.col_no +1 || 0)}}
                        </div>
                    </td>
                    <td :colspan="matrix[0].length">
                        <input id="cell_value" v-model="selected.value" type="text" class="w-100 border-0">
                    </td>
                </tr>
                <tr>
                    <td v-for="c in matrix[0].length+1">
                        <div v-if="c-1 > 0">{{ c - 1 }}</div>
                    </td>
                </tr>
                <tr v-for="(row, index) in matrix" :key="index">
                    <td>{{ index + 1 }}</td>
                    <template v-for="(col, cl_index) in row">
                        <td v-if="!col.ishide" :key="cl_index" @click="select(col)" :rowspan="col.rowspan || 1"
                            :style="`background-color: ${col.background_color};width: ${col.width}px;height: ${col.height}px;`"
                            :class="{active: col.isselected}" :colspan="col.colspan || 1">
                            <div :style="`transform: rotate(${col.rotate}deg);top: ${col.top}px;left: ${col.left}px; font-size: ${col.font_size}px;`"
                                class="table_cell" :class="{text_rotate: col.text_rotate}">
                                {{col.value}}
                            </div>
                        </td>
                    </template>
                </tr>
            </table>
        </div>
        <br>
        <table class="d-none">
            <tr v-for="(trow, trow_index) in matrix" :key="trow_index">
                <template v-for="(tcol, cl_index) in trow">
                    <td :key="cl_index">
                        <div :style="`background-color: ${tcol.background_color}`">
                            {{tcol.value || ''}}
                            <br>
                            <button @click="unhide(trow_index, cl_index)" v-if="tcol.ishide"
                                type="button">unhide</button>
                        </div>
                    </td>
                </template>
            </tr>
        </table>
    </div>
    <div id="matrix" class="d-none"></div>

    <script src="./vue.js"></script>
    <script src="./app.js"></script>
</body>

</html>